/* Gunakan variabel di elemen global */
h1, h2, h3 {
  color: var(--dark-color);
  margin: 0; /* Reset margin biar gak berantakan */
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease;
}