.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://payhip.com/cdn-cgi/image/format=auto,width=1500/https://pe56d.s3.amazonaws.com/o_1ij68nnsga41b5kbnkpnl1r3633.png")
      center/cover no-repeat;
  color: white;
  text-align: center;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
}

.hero-content h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 10px;
  font-family: "raleway";
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  opacity: 0.9;
}

.hero-content .btn {
  background-color: #a8e063;
  color: #0c0c0c;
  padding: 12px 32px;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.hero-content .btn:hover {
  background-color: #fff;
  color: #207947;
}